#copyright {

    text-align: center;
    font-weight: bold;

    font-style: italic;

}

/*#bottom {

    margin: 0 auto ;
    position: fixed;
    height: 20px;

    bottom: 0;

    width: 100%;


}*/